<section class="container search-container">
  <div class="search-body">
    <header >
      <h1>Search Results</h1>
    </header>

    <% if @searchable_testers.any? %>
      <div class="row d-flex justify-content-center">
        <% @searchable_testers.each do |tester| %>
          <article class="col-md-4">
            <div class="card mb-4 search-card">
              <img class="card-img-top mx-auto" style="width: 200px; height: 200px; margin-top: 20px;" src="<%= image_path(tester.product.image) %>" alt="Image of <%= tester.product.name %>">
              <div class="card-body">
                <h5 class="card-title"><%= tester.product.name %></h5>
                <p class="card-text">
                  <strong>SKU:</strong> <%= tester.product.sku %><br>
                  <strong>Condition:</strong> <%= tester.condition %><br>
                  <strong>Location:</strong> <%= tester.location %><br>
                  <strong>Time Created:</strong> <%= tester.created_at.strftime("%B %d, %Y %H:%M:%S") %>
                </p>
              </div>
            </div>
          </article>
        <% end %>
      </div>

      <div class="pagination-container">
        <%= paginate @searchable_testers, aria_label: "Pagination for available testers" %>
      </div>

      <%= link_to "Back to Search", testers_path, class: "btn btn-dark mt-3", aria: { label: "Go back to the tester search page" }  %>
    <% else %>
      <p class="no-results">No results found.</p>
      <%= link_to "Back to Search", testers_path, class: "btn btn-dark mt-3", aria: { label: "Go back to the tester search page" } %>
    <% end %>
  </div>
</section>
